body {
	margin: 0;
	padding: 0;
}


#nav-bar {
	background-color: #37c375;
	width: 100%;
	/*height: 55px;*/
	position: fixed;
	bottom: 0px;
	z-index: 9999;


	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	height: 10vh;
  	min-height: 40px;
  	max-height: 50px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


#container-main {
	margin-top:15px;
	padding-left: 20px;
	padding-bottom: 55px;
}

#container-friends {
	margin-top: 15px;
}



#btn-home, #btn-friends, #btn-more-friends, #btn-get-info {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  margin-top: 7px;
  margin-bottom: 32px;
}

#btn-home {
  margin-left: 25px;
}

#btn-get-info {
 margin-right: 25px;
}


.friend-item {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	height: 50px;
  	margin-bottom: 5px;
}


.friend-picture, .friend-name {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.friend-name {
	font-size: 20px;
	margin-left: 10px;
	padding-top:10px;
}

.friend-item input {
	width: 20px;
	height: 20px;
	margin-right: 12px;
	margin-top:10px;
	display: none;
}

#container-options-info {
	width: 70px;
	height: 55px;
	position: fixed;
	right: 35px;
	bottom:75px;
	background-color: #37c375;
	padding-left: 10px;
	padding-top:10px; 

	z-index: 1;
	border-radius: 100px;

	display: none;

}

#btn-ok-info {
	margin-bottom:10px;
	border: 0;
	background-color: #37c375;
	padding-left: 0px;
}



#btn-ok-info, #btn-cancel-info {
	font-size: 14px;
	color: white;
	margin-left: 8px;
	width: auto;
}


#container-friend-tasks {
	height: 50vh;
	width: 80vw;
	position: fixed;
	top: 50px;
	left: 20px;
	background-color: yellow;
	z-index:1;
	overflow-y: scroll;
	display: none;


}


#container-friend-tasks .options {
	display:flex;
	font-size: 18px;
	-webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top:8px;
  margin-bottom:12px;
  margin-left: 7px;
  margin-right: 7px;
}


.task-friend {
	margin-top: 5px;
	margin-left: 15px;
	margin-bottom: 10px;
}

.wrapper-date-hour {
	display: flex;
}


.date-task-friend {
	width: 80px;
	
}

.hour-task-friend {
	width: 95px;
}

.btn-add-task-friend {
	width:75px;
	background-color: green;
    border-radius: 10px;
    padding-left: 15px;
}



@media screen  and (min-width: 451px) {

#container-all {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top:0px;
    height: 100%;
}



#container-main {
	overflow-y: scroll;
	min-width: 210px;
    width: 30vw;
  
	flex:1;
}


#container-friend-tasks {
	width: 70vw;
	padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 55px;
    height: auto;
    z-index: 0;
    position:relative;
    flex: 2;
    top:0px;
    left:0px;
}

#btn-delete {
    margin-top:0px;
}

#container-friend-tasks .options {
    margin-top: 0px;
}

#btn-close {
    display:none;
}
}



@media screen  and (min-width: 751px) {
	#nav-bar{
	top:0px;
	max-width: 960px;
	z-index: 2;
}



#container-main, #container-friend-tasks {
	padding-bottom: 0px;
	margin-top: 0px;
}

#container-friend-tasks, #container-main {
	padding-top: 55px;
}


#container-options-info{
	top: 55px;
}



} 

@media screen  and (min-width: 961px) {
	#container-all, #nav-bar {
	width: 960px;
	margin: 0 auto;
}



#nav-container {
	background-color: #37c375;
	height: 10vh;
  	min-height: 40px;
  	max-height: 50px;
	width: 100vw;
}
}






