
#container-all {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top:0px;
    height: 100%;
}



#container-main {
	overflow-y: scroll;
	min-width: 210px;
    width: 30vw;
  
	flex:1;
}


#container-friend-tasks {
	width: 70vw;
	padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 55px;
    height: auto;
    z-index: 0;
    position:relative;
    flex: 2;
    top:0px;
    left:0px;
}

#btn-delete {
    margin-top:0px;
}

#container-friend-tasks .options {
    margin-top: 0px;
}

#btn-close {
    display:none;
}