body {
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	background-color:#FFFDF0;

	color: rgba(0, 0, 0, 0.87);
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Open Sans', sans-serif;
}


h5 {
  font-size: 14px;
}



#nav-bar {
	background-color: #37c375;
	width: 100%;
	/*height: 55px;*/
	position: fixed;
	bottom: 0px;
	z-index: 9999;


	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 10vh;
	min-height: 40px;
	max-height: 50px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}




#container-main {
	margin-top: 15px;
	padding-left: 30px;
	padding-right:30px;
	padding-bottom:55px;
}

#container-friends-list {
	margin-top: 15px;
}



#btn-home, #btn-friends, #btn-more-friends, #btn-get-info {
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
	margin-top: 7px;
	margin-bottom: 32px;
}

#btn-home {
	margin-left: 25px;
}



/*opacitate pentru iconurile din nav-bar si hover */

#nav-bar img {
  opacity: .8;
  transition: all 0.5s ease;
}

#nav-bar img:hover {
  opacity: 1;
}


#btn-get-info {
	margin-right: 25px;
}



/*search bar*/
#search-bar-container {
	display: flex;
}

#search-text{
	width: 100%;
	transition: height 0.1s ease;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	padding-left: 5px;
	height: 18px;
	border-style: solid;
	border-color: rgba(0,0,0,0.3);
}


#search-bar-container #search-text:focus {
	height: 25px;
	outline: none;
}



#btn-search-bar {
	margin-left: 10px;
}


.friend-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 50px;
	margin-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0,0,0,0.1);
}

.friend-item:hover{
	background-color: rgba(255,255,255,1);
}


.friend-picture, .friend-name {
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
}

.friend-name {
	font-size: 16px;
	margin-left: 10px;
	padding-top:10px;
}

.check-friend {
	width: 20px;
	height: 20px;
	margin-right: 12px;
	margin-left: 1px;
	margin-top:10px;
	display: none;
}

#container-options-info {
	width: 70px;
	display: flex;
	padding-left: 0px;
	padding-top:10px; 
	margin-left: 1px;
	display: none;
}

.button-info {
	background-color: #ff77a9;
	color: rgba(1,1,1,0.8);
	padding-top: 3px;
	padding-bottom: 3px;
	border:none;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;

	font-size: 14px;

}
.button-info:active {

	 background-color: #c9457a;
}

.button-info:focus {
	outline: none;
}


#btn-cancel-info {
	margin-left: 10px;

}




#container-friend-tasks {
	height: 50vh;
	width: 80vw;
	position: fixed;
	top: 50px;
	left: 20px;
	background-color: #efede3;
	box-shadow: 0 -1px 16px 0 #ac9999; 
	z-index:3;
	overflow-y: scroll;
	display: none;
	font-size: 14px;
}


#container-friend-tasks .options {
	display:flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top:8px;
	margin-bottom:12px;
	margin-left: 7px;
	margin-right: 7px;
}

#container-friend-tasks .options .btn-options {
	background-color: #ff77a9;
	color: rgba(1,1,1,0.8);
	padding-top: 3px;
	padding-bottom: 3px;
	border:none;
}

#container-friend-tasks .options .btn-options:active {

	 background-color: #c9457a;
}

#container-friend-tasks .options .btn-options:focus {
	outline: none;
}


.task-friend {
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;

}

 .locatie-task-friend, .wrapper-date-hour {
	margin-top: 4px; 
}

.locatie-task-friend {
	display: flex;
}


.btn-map {
	margin-left: 10px;
}

.task-map {
	width: 100%;
	height: 200px;
	background-color: blue;
}

.wrapper-date-hour {
	display: flex;
}


.date-task-friend {
	width: 80px;
	
}

.hour-task-friend {
	width: 95px;
}

.btn-add-task-friend {
  margin-top: 10px;
  background-color: transparent;
  border-color: #ff77a9;
  border-width: 1px;
  border-style: solid;
  font-size: 13px;

  width: 120px;
}

.btn-add-task-friend:focus {
	outline: none;
}
.btn-add-task-friend:active {
border-color: #c9457a;
}




@media screen  and (min-width: 451px) {

	#container-all {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: 100vw;
		overflow: hidden;
		position: absolute;
		top:0px;
		height: 100%;
	}



	#container-main {
		overflow-y: auto;
		min-width: 210px;
		max-width: 300px;
		width: 30vw;
		visibility: visible;
		flex:1;
	}

	/*#wrapper-main, #container-main:hover{
		visibility: visible;
	}*/



	#container-friend-tasks {
		width: 70vw;
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 15px;
		padding-bottom: 55px;
		height: auto;
		z-index: 0;
		position:relative;
		flex: 2;
		top:0px;
		left:0px;
		background-color: transparent;
		box-shadow: none; 
	}

	#vertical-line {
		height: 100vh;
		width:1px;
		border-right-style: solid;
		border-right-width: 1px;
		border-color: rgba(1,1,1,0.2);
	}


	#btn-delete {
		margin-top:0px;
	}

	#container-friend-tasks .options {
		margin-top: 0px;
	}

	#btn-close {
		display:none;
	}
}



@media screen  and (min-width: 751px) {
	#nav-bar{
		top:0px;
		max-width: 960px;
		z-index: 4;
		height: 40px;
	}


#container-friend-tasks {
		overflow: auto;
		visibility: visible;
		max-width: 550px;
	}

	


	#container-main, #container-friend-tasks {
		padding-bottom: 0px;
		margin-top: 0px;
		padding-top: 55px;
	}

	


	#container-options-info{
		top: 55px;
	}



} 

@media screen  and (min-width: 961px) {
	#da {
		width: 900px;
		margin: 0 auto;
	}



	#nav-container {
		background-color: #37c375;
		height: 40px;
		width: 100vw;
		text-align: center;
	}
}






