body {
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	background-color:#FFFDF0;

	color: rgba(0, 0, 0, 0.87);
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-size: 14px;
}



#nav-bar {
	background-color: #37c375;
	width: 100%;
	/*height: 55px;*/
	position: fixed;
	bottom: 0px;
	z-index: 9999;


	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 10vh;
	min-height: 40px;
	max-height: 50px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}


#container-all {

}

#container-main {
	margin-top: 15px;
	padding-left: 30px;
	padding-right:30px;
	padding-bottom:55px;
}

#container-friends-list {
	margin-top: 15px;
}



#btn-home, #btn-friends, #btn-more-friends, #btn-get-info {
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
	margin-top: 7px;
	margin-bottom: 32px;
}

#btn-home {
	margin-left: 25px;
}



/*opacitate pentru iconurile din nav-bar si hover */

#nav-bar img {
  opacity: .8;
  transition: all 0.5s ease;
}

#nav-bar img:hover {
  opacity: 1;
}


#btn-get-info {
	margin-right: 25px;
}



/*search bar*/
#search-bar-container {
	display: flex;
}

#search-text{
	width: 100%;
	transition: height 0.1s ease;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	padding-left: 5px;
	height: 18px;
	border-style: solid;
	border-color: rgba(0,0,0,0.3);


}


#search-bar-container #search-text:focus {
	height: 25px;
	outline: none;
}



#btn-search-bar {
	margin-left: 10px;
}


.friend-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 50px;
	margin-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0,0,0,0.1);
}

.friend-item:hover{
	background-color: rgba(255,255,255,1);
}


.friend-picture, .friend-name {
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
}

.friend-name {
	font-size: 16px;
	margin-left: 10px;
	padding-top:10px;
}

.check-friend {
	width: 20px;
	height: 20px;
	margin-right: 12px;
	margin-top:10px;
	display: none;
}

#container-options-info {
	width: 70px;
	height: 55px;
	position: fixed;
	right: 35px;
	bottom:75px;
	background-color: #37c375;
	padding-left: 10px;
	padding-top:10px; 

	z-index: 1;
	border-radius: 100px;

	display: none;

}

#btn-ok-info {
	margin-bottom:10px;
	border: 0;
	background-color: #37c375;
	padding-left: 0px;
}



#btn-ok-info, #btn-cancel-info {
	font-size: 14px;
	color: white;
	margin-left: 8px;
	width: auto;
}


#container-friend-tasks {
	height: 50vh;
	width: 80vw;
	position: fixed;
	top: 50px;
	left: 20px;
	background-color: yellow;
	z-index:1;
	overflow-y: scroll;
	display: none;


}


#container-friend-tasks .options {
	display:flex;
	font-size: 18px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top:8px;
	margin-bottom:12px;
	margin-left: 7px;
	margin-right: 7px;
}


.task-friend {
	margin-top: 5px;
	margin-left: 15px;
	margin-bottom: 10px;

}

.wrapper-date-hour {
	display: flex;
}


.date-task-friend {
	width: 80px;
	
}

.hour-task-friend {
	width: 95px;
}

.btn-add-task-friend {
	width:75px;
	background-color: green;
	border-radius: 10px;
	padding-left: 15px;
}



@media screen  and (min-width: 451px) {

	#container-all {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: 100vw;
		overflow: hidden;
		position: absolute;
		top:0px;
		height: 100%;
	}



	#container-main {
		overflow-y: auto;
		min-width: 210px;
		max-width: 300px;
		width: 30vw;
		visibility: hidden;
		flex:1;
	}

	#wrapper-main, #container-main:hover{
		visibility: visible;
	}


	#container-friend-tasks {
		width: 70vw;
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 15px;
		padding-bottom: 55px;
		height: auto;
		z-index: 0;
		position:relative;
		flex: 2;
		top:0px;
		left:0px;
	}

	#btn-delete {
		margin-top:0px;
	}

	#container-friend-tasks .options {
		margin-top: 0px;
	}

	#btn-close {
		display:none;
	}
}



@media screen  and (min-width: 751px) {
	#nav-bar{
		top:0px;
		max-width: 960px;
		z-index: 4;
		height: 40px;
	}


#container-friend-tasks {
		overflow: auto;
		visibility: hidden;
	}

	#wrapper-friend-tasks, #container-friend-tasks:hover {
		visibility: visible;
	}


	#container-main, #container-friend-tasks {
		padding-bottom: 0px;
		margin-top: 0px;
	}

	#container-friend-tasks, #container-main {
		padding-top: 45px;
	}


	#container-options-info{
		top: 55px;
	}



} 

@media screen  and (min-width: 961px) {
	#container-all, #nav-bar {
		width: 960px;
		margin: 0 auto;
	}



	#nav-container {
		background-color: #37c375;
		height: 40px;
		width: 100vw;
	}
}






