#nav-bar{
	top:0px;
	max-width: 960px;
	z-index: 2;
}



#container-main, #container-friend-tasks {
	padding-bottom: 0px;
	margin-top: 0px;
}

#container-friend-tasks, #container-main {
	padding-top: 55px;
}


#container-options-info{
	top: 55px;
}


