body {
	margin: 0;
	padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background-color:#FFFDF0;
  color: rgba(0, 0, 0, 0.87);
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: rgba(0,0,0,0.87);
}


button {
  font-family: 'Open Sans', sans-serif;
}

button:focus {
  outline: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
}


h5 {
  font-size: 14px;
}


#nav-bar {
	background-color: #37c375;
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 4;
  display: none;
  height: 10vh;
  min-height: 40px;
  max-height: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


  #btn-open-left-menu, #btn-settings, #btn-friends, #btn-add-task {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    margin-top: 7px;
    margin-bottom: 32px;
  }

  #btn-open-left-menu {
    margin-left: 25px;
  }

  #btn-add-task {
   margin-right: 25px;
  }

  /*opacitate pentru iconurile din nav-bar si hover */

  #nav-bar img {
    opacity: .8;
    transition: all 0.5s ease;
  }

  #nav-bar img:hover {
    opacity: 1;
  }





#settings-menu {
  height: 80px;
  background-color:#FFFDF0;
  box-shadow:  0 -1px 16px 0 #ac9999; 
  width: 100px;
  position: fixed;
  font-size:14px;
  bottom:55px;
  z-index: 100;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  display: none;
}


  #btn-logout, #btn-to-settings {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    margin-bottom: 8px;
    padding-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(1,1,1,0.3);
    border-bottom-width: 1px;
    padding-left: 5px;
    
  }

    #logout-txt, #settings-txt {
      margin-left: 5px;
    }




#left-menu {
  position: fixed;
  margin: 0px;
  left: -100%;
  top: 0px;
  bottom: 0px;
  z-index: 5;
  width: 80vw;
  max-width: 350px;
  padding-left: 20px;
  background-color: #F7F5E9;
  box-shadow: 0 -1px 16px 0 #ac9999;  

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;

}

  #left-menu img {
    opacity: .8;
  }

  #container-top-part{
    margin-top: 10px;
    height: 80vh;
    overflow-y: scroll;
  }
   
    .task-brief {
      display: flex;
      margin-bottom: 5px;
    }

    .task-brief:hover {
      background-color: rgba(255,255,255, 0.6);
    }

    .text-task-brief, .number-tasks-brief {
      margin-left: 12px;
    }


    .project-item {
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    .project-item:hover {
      background-color: rgba(255,255,255,0.6);
    }

      .project-info {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
      }

          .project-color{
            border-radius: 20px;
            width: 10px;
            height: 10px;
            margin-top:3px;
          }

        .project-name {
          margin-left: 15px;
          max-width: 300px;
          word-break: break-all;
        }

        .project-nr-tasks {
          margin-left: 25px;
        }

      .btn-modify-project {
        padding-left: 15px;
        padding-right: 15px;
        color: rgba(0,0,0,0.3);
        font-size: 14px;
        border:none;
        background-color: transparent;
      }


      .btn-modify-project:hover {
        color: rgba(0,0,0,1);
      }

      



    #btn-add-project {
      margin-top: 10px;
      background-color: transparent;
      border-color: #ff77a9;
      border-width: 1px;
      border-style: solid;
      font-size: 11px;
      width: 60%;
    }

    #btn-add-project:active {
      border-color: #c9457a;
    }

   



  #btn-close-left-menu {
    margin-top: 10px;
    bottom: 5px;
    background-color: #ff77a9;
    width: 60%;
    border:0;
  }

  #btn-close-left-menu:active {
    border: 0;
    background-color: #c9457a;
  }

 




  .close-left-menu {
    transition-timing-function: ease;
    transition: 0.5s;
  }


  .open-left-menu {
    transition-timing-function: ease;
    transition: 0.5s;
    -webkit-transform: translate(100vw) ;
    -moz-transform: translate(100vw) ;
    -o-transform: translate(100vw);
    transform: translate(100vw) ;
  }



#container-tasks {
  margin-top:15px;
  padding-left: 30px;
  padding-bottom: 55px;
  padding-right: 30px;
  max-width: 600px;
}


  .task-item {
   display: flex;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   background-color: #D7CCC8;

   width: auto;
   margin-bottom: 10px;
   padding-bottom: 5px;
   padding-right: 5px;
   padding-left: 5px;
   padding-top: 5px;


   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
  }

  .task-item img {
    opacity: .7;
  }

    .title-task, .project-name {
      word-break: break-all;
    }

    .btn-done, .btn-modify {
      flex: 0 auto;
      width: 20px;
    }

    .container-task-info {
      flex:1;
      width: 80%;
      margin-left: 5px;
      margin-right: 5px;
    }




#container-info-add-task {
  position: fixed;
  width: 78vw;
  left: 7vw;
  top:0vh;
  padding-top: 15px;
  min-width: 100px;
  min-height: 80px;
  max-width: 500px;
  padding-left: 30px;
  padding-right: 30px;
  /*margin-bottom: 55px;*/
  /*padding-bottom: 25px;*/
  height: 68vh;
  /*height: auto;*/
  max-height: 300px;
  overflow-y: scroll;
  z-index: 3;
}


  .close-container-add-task {
    display: none;
    background-color:rgba(215, 236, 250, 0);
    
  }
  .open-container-add-task {
    display: block;
    background-color:rgba(215, 236, 250, 0.9);
  }


  #task-text-input {
    width: 100%;
    height: 25px;
  }


  .elem-form {
    margin-bottom: 10px;
  }

  #nr-days {
    width: 25px;
  }

  .time-date {
    height: 15px;
  }



  #map {
    display:none;
    width: 78vw;
    height: 70vh;
    top: 0;
    left:0;
    max-width: 460px;
    max-height: 500px;
  }

  #locatie {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  }

  #map-btn {
    width: 20px;
    height: 20px;
    margin-left: 20px;
  }



  #specific-days-week {
    display: none;
  }


  #specific-days-month {
    display: none;
  }

  option {
    margin-bottom: 5px;
    width: 200px;
  }


  .specific-days{
    height: 150px;
  }



.btn-form-modify {
  font-size: 12px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
}
.btn-form-modify:hover {
  opacity: .7;
}
.btn-form-modify:active {
  opacity: .7;
}









@media screen and (min-height: 145px){
  #nav-bar {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  }
}




@media screen and (min-width: 641px){


  #container-all {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top:0px;
    height: 100%;
  }



    #left-menu {
      flex: 2;
      position: relative;
      left: 0px;
      z-index: 0;
      max-width: 300px;
      box-shadow: 0 0 0 0;
      padding-bottom: 55px;
      height: auto;
      background-color: transparent;
      overflow: auto;
      visibility: visible;

    }

    #vertical-line {
      height: 100vh;
      width:1px;
      border-right-style: solid;
      border-right-width: 1px;
      border-color: rgba(1,1,1,0.2);
    }

  

    .open-left-menu {
      transition-timing-function: ease;
      transition: 0.5s;
      -webkit-transform: translate(0) ;
      -moz-transform: translate(0) ;
      -o-transform: translate(0);
      transform: translate(0) ;
    }

      #container-top-part{
        height: auto;
        overflow-y: visible;
      }



  #container-tasks {
    margin-top:15px;
    padding-left: 20px;
    padding-bottom: 55px;
    padding-right: 20px;
    max-width: 600px;
    min-width: 350px;
    position: relative;
    flex: 2;
    z-index: 0;
    overflow: auto;
    visibility: visible;

    height: auto;
    top:0px;
    left:0px;
  }

    #title-list-tasks{
      margin-top: 0px;
      padding-top: 0px;
    }


      .container-task-info {
        margin-left: 5px;
        margin-right: 5px;
      }


  #btn-close-left-menu{
    display: none;
  }

  #btn-open-left-menu{
    display: none;
  }

  #btn-settings{
    margin-left: 25px;
  }

}




@media screen and (min-width: 751px){
  #nav-bar {
    max-width: 960px;
    height: 40px;
    top:0px;
  } 

    #settings-menu {
      top:45px;
    }

  #container-tasks {
    padding-bottom: 0px;
    margin-top: 55px;
  }

  #left-menu {
    padding-bottom: 5px;
    margin-top: 55px;
  }

  #container-info-add-task{
    margin-top:60px;
  }
  
}

@media screen and (min-width: 961px){
  #wrapper-container-all {
    width: 800px;
    margin: 0 auto;
  }

    #container-all {
      width: 800px
    }

  #nav-container {
    position: fixed;
    top: 0;
    background-color: #37c375;
    height: 40px;
    width: 100vw;
    z-index: 10;
  }

    #wrapper-nav-bar {
      width: 960px;
      margin: 0 auto;
    }

}





