body {
	margin: 0;
	padding: 0;

font-family: 'Open Sans', sans-serif;
font-size: 12px;
}


h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-size: 14px;
}

#nav-bar {
	background-color: #37c375;
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 4;
  display: none;
  height: 10vh;
  min-height: 40px;
  max-height: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


#btn-open-left-menu, #btn-settings, #btn-friends, #btn-add-task {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  margin-top: 7px;
  margin-bottom: 32px;
}

#btn-open-left-menu {
  margin-left: 25px;
}

#btn-add-task {
 margin-right: 25px;
}



#container-tasks {
  margin-top:15px;
  padding-left: 20px;
  padding-bottom: 55px;
  padding-right: 20px;
  max-width: 600px;
}



#left-menu {
  position: fixed;
  margin: 0px;
  left: -100%;
  top: 0px;
  bottom: 0px;
  z-index: 5;
  width: 80vw;
  max-width: 350px;
  padding-left: 20px;
  background-color: #fcf8f8;
  box-shadow: 0 -1px 16px 0 #ac9999;  

font-family: 'Open Sans', sans-serif;
  font-size: 12px;

/*font-family: 'Roboto', sans-serif;*/
}

#left-menu #container-top-part{
  margin-top: 10px;
  background-color: yellow;
  height: 80vh;
  overflow-y: scroll;

}




#left-menu #btn-close-left-menu {
  margin-top: 10px;
  bottom: 5px;
}

.task-brief {
  display: flex;
}

.task-brief .text-task-brief, .task-brief .number-tasks-brief {
  margin-left: 12px;

}

.project-item {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 8px;
}

.project-item .project-info {
  display: flex;
}

.project-item .project-info .project-color{
  border-radius: 20px;
  background-color: blue;
  width: 10px;
  height: 10px;
}

.project-item .project-info .project-name {
  margin-left: 15px;
  max-width: 300px;
  word-break: break-all;
}

.project-item .project-info .project-nr-tasks {
  margin-left: 25px;
}

.btn-modify-project {
  margin-left: 15px;
}

#btn-add-project {
  margin-top: 10px;
}



.close-left-menu {
  transition-timing-function: ease;
  transition: 0.5s;
}


.open-left-menu {
  transition-timing-function: ease;
  transition: 0.5s;
  -webkit-transform: translate(100vw) ;
  -moz-transform: translate(100vw) ;
  -o-transform: translate(100vw);
  transform: translate(100vw) ;
}




/*adaug stil pentru partea container tasks*/

.task-item {
 display: flex;
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
 -webkit-flex-direction: row;
 -ms-flex-direction: row;
 flex-direction: row;
 border-style: solid;
 border-width: 2px 0px 2px 0px;
 background-color: rgba(200, 236, 200, 0.5);
 width: 100%;
 margin-bottom: 10px;
 padding-bottom: 5px;
 background-color: #E0E0DD;
}

.title-task, .project-name {
  word-break: break-all;
}






/*aici este codul css pentru formularul add task*/


#container-info-add-task {
  position: fixed;
  width: 78vw;
  left: 7vw;
  top:0vh;
  padding-top: 15px;
  min-width: 100px;
  min-height: 80px;
  max-width: 500px;
  padding-left: 30px;
  padding-right: 30px;
  /*margin-bottom: 55px;*/
  /*padding-bottom: 25px;*/
  height: 68vh;
  /*height: auto;*/
  max-height: 300px;
  overflow-y: scroll;
  z-index: 3;
}


.close-container-add-task {
  display: none;
  background-color:rgba(215, 236, 250, 0);
  
}
.open-container-add-task {
  display: block;
  /*transition: background-color 2s ease;*/
  background-color:rgba(215, 236, 250, 0.9);
}
  /*transition-timing-function: ease;
  transition: 0.5s;*/

  /*-webkit-transform: translate(100vw) ;
  -moz-transform: translate(100vw) ;
  -o-transform: translate(100vw);
  transform: translate(100vw) ;*/
  /*}*/

  #task-text-input {
    width: 100%;
    /*margin-left: 20px;*/
    height: 25px;
    /*padding-left: 20px;*/
  }

/*  #add-task-form input {
  /*width: 100%;*/
  /*margin-bottom: 10px;*/
  /*margin-left: 20px;*/

  /*}*/

  .elem-form {
    margin-bottom: 10px;
  }

  #nr-days {
    width: 25px;
  }

  .time-date {
    height: 15px;
  }



  #map {
    display:none;
    width: 78vw;
    height: 70vh;
    top: 0;
    left:0;
    max-width: 460px;
    max-height: 500px;
  }

  #locatie {
    display: flex;

  }

  #map-btn {
    width: 20px;
    height: 20px;
    margin-left: 20px;
  }




  #specific-days-week {
    display: none;
  }


  #specific-days-month {
    display: none;
  }

  option {
    margin-bottom: 5px;
    width: 200px;
  }


  .specific-days{
    height: 150px;
  }





  @media screen and (min-height: 145px){
    #nav-bar {
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
    }
  }




  @media screen and (min-width: 641px){


    #container-all {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;


      width: 100vw;
      overflow: hidden;
      position: absolute;
      top:0px;
      height: 100%;
    }



    #left-menu {
      flex: 2;
      position: relative;
      left: 0px;
      z-index: 0;
      max-width: 300px;
      box-shadow: 0 0 0 0;

      padding-bottom: 55px;
      height: auto;

      overflow-y: scroll;




    }



    #left-menu #container-top-part{
      height: auto;
      overflow-y: visible;
    }



    #title-list-tasks{
      margin-top: 0px;
      padding-top: 0px;
    }

    #container-tasks {
      margin-top:15px;
      padding-left: 20px;
      padding-bottom: 55px;
      padding-right: 20px;
      max-width: 600px;
      min-width: 350px;
      position: relative;
      flex: 2;
      z-index: 0;

      overflow-y: scroll;

      height: auto;
      top:0px;
      left:0px;
    }


    #btn-close-left-menu{
      display: none;
    }

    #btn-open-left-menu{
      display: none;
    }

    #btn-settings{
      margin-left: 25px;
    }




  }




  @media screen and (min-width: 751px){
    #nav-bar {
      max-width: 960px;
      z-index: 2;
      height: 40px;
      top:0px;
    } 
    #left-menu, #container-tasks {
      padding-bottom: 0px;
      padding-top: 40px;
    }
    #left-menu {
      padding-bottom: 5px;
    }

    #nav-container {
      background-color: #37c375;
      height: 40px;
      width: 100vw;
      z-index: 5px;
    }






  }





