


#container-main #container-list-tasks {
  display: block;
  height: 80%;
  width: 100%;
  margin-bottom: 10px;
}


.container-task {
  margin-bottom: 12px;
  padding-bottom: 8px;
}







#container-projects {
  padding-top: 25px;
}


#container-menu-left-options {
  margin-top: 15px;
}


.container-text-tasks {
  padding-left: 12px;
}


.icon-image-task-brief {
  margin-top: 10px;
}


.text-block {
  margin-top: 10px;
  font-size: 14px;
}


.close-menu-left {
  font-size: 17px;
}


#container-projects-list {
  margin-top: 19px;
}



#container-option-menu-left {
  margin-top: 18px;
  margin-bottom: 28px;
}


.container-project-item {
  margin-bottom: 15px;
}

.container-item-project-number-tasks {
  display: inline;
}



.menu-left-title-project {
  font-size: 14px;
}



#map {
  max-height: 400px;
}
